// Variables for use throughout app
:root {
  // A root colors.
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: 'Domine', serif;
//   font-weight: 400;
//   color: var(--black);
// }

caption,
input {
  color: var(--black-600);
}

// html {
//   color: var(--text);
//   font-size: 14px;
//   line-height: 160%;
//   letter-spacing: 0.1px;
//   font-family: "Poppins", "sans-serif";
// }

main {
  margin-bottom: 100px;
}

*,
before,
after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {

  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  // padding: 3rem;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
