.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  &__search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1pt lightgray;
    .location,
    .guests,
    img {
      padding: 0.2rem 1rem;
    }
    span {
      border-right: solid 1pt lightgray;
      height: 35px;
    }
  }
}

.hello {
  position: relative;
  top: 300px;
  left: 0;
}
