.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: auto;
  padding: 5rem;
  z-index: 1;
  font-size: 0.7rem;

  &__input {
    margin-right: 0.6rem;
    padding: 0.5rem;
    width: 300px;
    border-radius: 10px;
    border: 0.8pt solid rgb(83, 83, 83);
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__filtered-list {
    display: relative;
    font-size: 0.9rem;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 25px;
    border-radius: 10px;
    background-color: #f44336; /* Green */
    border: none;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  img {
    padding-right: 5px;
  }
  .close {
    position: absolute;
    right: 100px;
    top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f44336;
  }
}

